**************Relationships********

A relationship in a database defines how two or more tables are connected to each other based on common columns (keys)

Building relations in tables helps to organize and link data across multiple tables.


there are three main relation types:
    1.one-to-one
    2.one-to-many
    3.many-to -many

1.one-to-one(1:1) relation:
        **Defination**:Each record in Table A is associated with one and only one record in Table B, and vice versa.
        **or**
        One row in Table A is related to only one row in Table B and vice versa.
2.one-to-many(1:N)
        **Defination**:One row in Table A can relate to many rows in Table B, but each row in Table B relates to only one row in Table A.
3.many-to-many(m:m):
        **Defination**:
        Each record in Table A can be associated with multiple records in Table B, and vice versa.
4.many-to-one(m:1):
        Multiple records in table B can be associated with one record in table A.

In [ ]:
CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  username TEXT
);

CREATE TABLE user_profiles (
  profile_id SERIAL PRIMARY KEY,
  user_id INT UNIQUE REFERENCES users(user_id),
  bio TEXT
);





-- one-to-many

For example: Tables departments and employees, where each department can have multiple employees, but each employee belongs to one department.

CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50));
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id));

--many-to-many
    Example:

    Students and Courses

        A student can enroll in multiple courses

        A course can have multiple students

CREATE TABLE students (
  student_id SERIAL PRIMARY KEY,
  name TEXT
);

CREATE TABLE courses (
  course_id SERIAL PRIMARY KEY,
  title TEXT
);

-- Bridge table to connect students and courses
CREATE TABLE student_courses (
  student_id INT REFERENCES students(student_id),
  course_id INT REFERENCES courses(course_id),
  PRIMARY KEY(student_id, course_id)
);



--many-to-one:
    Example: Table Teachers and Courses, many courses can be taught by single teacher.

CREATE TABLE Teachers (
    teacher_id INT PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255)
);
CREATE TABLE Courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(255),
    teacher_id INT,
    FOREIGN KEY (teacher_id) REFERENCES Teachers(teacher_id)
);

VSDV

In [ ]:
FEADS