In [ ]:
CREATE OR REPLACE FUNCTION add_numbers(a INT, b INT)
RETURNS INT AS $$
BEGIN
  RETURN a + b;
END;
$$ LANGUAGE plpgsql;

In [ ]:

SELECT add_numbers(10, 5);

In [ ]:
CREATE OR REPLACE FUNCTION get_high_salary_employees(min_salary NUMERIC)
RETURNS TABLE(emp_name TEXT, emp_salary NUMERIC) AS $$
BEGIN
  RETURN QUERY
  SELECT name, salary FROM employees
  WHERE salary > min_salary;
END;
$$ LANGUAGE plpgsql;

In [ ]:
SELECT * FROM get_high_salary_employees(50000);