In [ ]:
CREATE VIEW employee_view AS
SELECT id, name, salary
FROM employees
WHERE department = 'Sales';

In [ ]:
CREATE VIEW department_salary AS
SELECT d.name AS department, AVG(e.salary) AS avg_salary
FROM employees e
JOIN departments d ON e.dept_id = d.id
GROUP BY d.name;

In [ ]:
CREATE VIEW active_employees AS
SELECT id, name
FROM employees
WHERE active = true;



-- later
UPDATE active_employees SET name = 'John' WHERE id = 1;

In [ ]:
CREATE MATERIALIZED VIEW mv_sales_summary AS
SELECT product_id, SUM(sales) AS total_sales
FROM sales
GROUP BY product_id;

In [ ]:
REFRESH MATERIALIZED VIEW mv_sales_summary;